:root {
    font-size: 16px;
    --primary-color: hsl(359, 100%, 28%);
    --sec-color: rgb(42, 42, 42);
    font-family: sans-serif;
    scroll-padding-top: 24px;
}

body{
    margin:0;
    background-color: rgb(32, 32, 32);
}

#body-content {
    display: grid;
    grid-template-columns: 1fr 3fr;
    /* background-color: rgb(32, 32, 32); */
    padding: .1in .5in;
    cursor: default;
    max-width: 1520px;
}

@media only all and (orientation: portrait) {
    #body-content {
        display: block;
        padding: 0;
    }
}

#body-content >section {
    padding: 2em 2em;
}

.header a {
    color: white;
    font-style: italic;
}

ul {
    margin: .15em auto;
}

ul>li {
    line-height: 1.5em;
}

p {
    line-height: 1.5em;
}

details>summary{
    cursor: pointer;
    text-decoration: underline;
    width: max-content;
    padding-left: .5em;
    padding-right: 1em;
    margin: .25em 0;
}

details>summary {
    border: 1px solid grey;
    border-radius: .25em;
    box-shadow: 1px 1px 1px 0px;
}
details[open]>summary {
    border-left: 2px solid grey;
    box-shadow: inset -1px 1px 1px 0px;
}

.header {
    background-color: var(--primary-color);
    color: white;
}

.header>menu>div {
    margin: 2em 0;
}

.header h2 {
    text-decoration: underline;
    font-size: large;
    margin: 0 auto;
}

@media only all and (orientation: portrait) {
    .header {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
    }

    .header>menu {
        flex-basis: min-content;
        flex-grow: 2.5;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .header>menu>div {
        margin: 1em;
    }
}

.profile_picture {
    width: 15em;
    height: 15em;
    border-radius: 50%;
    border: 2px solid lightgrey;
    margin: 1em auto;
    display: block;
    object-fit: cover;
    object-position: top;
    transition-delay: .2s;
    transition-duration: 1s;
}
.profile_picture:hover{
    transition-delay: .1s;
    transition-duration: 1s;
    border: 2px solid white;
    box-shadow: 0 0 16px 0px white;
}

.label-container {
    display: flex;
    padding: .15em;
    flex-wrap: wrap;
    justify-content: center;
}

.label-container>li {
    display: block;
    border-radius: .5em;
    margin: .15em;
    background-color: white;
    font-family: sans-serif;
    font-weight: bold;
    transition-duration: .5s;
}
.label-container>li:hover {
    box-shadow: 0px 0px 4px 1px lightgrey;
    transition-duration: .15s;
}
.label-container>li *{
    color: var(--primary-color);
}

.label-container>li>a{
    text-decoration: none;
    display: inline-block;
    padding: 0 .35em;
    margin: .15em;
}

.contact-info li {
    line-height: 2em;
    text-shadow: 1px 1px 1px black;
}

.main {
    display: grid;
    padding-left: 1em;
    padding-right: 1em;
    grid-template-columns: repeat(auto-fit, minmax(45ch, 1fr));
    background-color: white;
    color: var(--sec-color);
}

@media only all and (orientation: portrait) {
    .main {
        display: block;
    }
}

.main>div {
    padding: 1em;
}

.main>div article {
    padding: 1em 0;
}

#section-experience section{
    max-height: 350px;
    overflow-y: scroll;
}

@media only all and (orientation: portrait) {
    #section-experience section{
        max-height: unset;
        overflow-y: unset;
    }
}

.main h2 {
    margin: 0 auto;
    border-bottom: .15em solid;
    color: var(--primary-color);
}

.main h3 {
    color: var(--primary-color);
    margin: .15em auto;
}

.main details>p {
    margin: .15em auto;
}

.date-range {
    font-size: smaller;
    font-style: italic;
}

.cert-apu-degree,
.cert-apu-degree h3,
.cert-apu-degree a {
    color: darkblue;
}

.cert-su-degree,
.cert-su-degree a {
    color: var(--primary-color);
}

.cert-apu-diploma h3 {
    color: var(--sec-color);
}

.section-policy {
    font-size: xx-small;
    font-style: italic;
    color: grey;
}


@media only print {
    body{
        background-color: unset;
        margin: 0;
    }
    #body-content {
        padding: 0;
    }
    .section-policy{
        display:none;
    }
    #section-experience  section{
        max-height: max-content;
        overflow-y: hidden;
    }
}